body {
    background-color: pink;
    overflow: hidden;
    width: 100%;
    margin: auto;
    height: 100vh;
}

nav {
    text-align: center;
    padding: 2%;
}

nav > a {
    padding: 2%;
}

h1 {
    color: white;
    padding-top: 5%;
    font-size: xx-large;
}

h2 {
    color: gray;
    font-size: x-large;
}

.titles {
    text-align: center;
    letter-spacing: 5px;
}

p {
    text-align: center;
    font-size:  medium;
    line-height: 1.6;
}

.img-container {
    margin: auto;
    justify-content: center;
    display: flex;
    width: auto;
    padding: 5%;
    padding-right: 5%;
    padding-left: 5%;
    border: 1px dashed white;
}

.img-container > img {
    width: 150px;
    height: 250px;
    padding: 1%;
}

.about-container {
    width: 60%;
    justify-content: center;
    display: flex;
    margin: auto;
}